#navbarToggleExternalContent {
	position: absolute;
	width: fit-content;
	height: 100px;
	background-color: transparent;
}

#header__navbar {
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.6), 0 5px 6px 2px rgba(0, 0, 0, 0.302);
	border-bottom: solid 0.1px rgba(227, 227, 227, 0.1);
}
